<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentoren</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../style.css" rel="stylesheet">
    <script src="../ajax.js"></script>
    <script src="../mentor_loader.js"></script>
    <script src="../navbar_functionality.js"></script>
    <script src="../mentor_button_functionality.js"></script>
</head>
<body>
<!-- Modal bearbeiten Mentoren -->
<div id="modal_edit_mentor" class="modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mentor bearbeiten</h5>
                <button type="button" class="btn-close close_modal_add"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm p-3 m-3 pt-1">
                        <form>
                            <label for="edit_mentor_title" class="form-label"></label>
                            <input type="text" id="edit_mentor_title">
                            <label for="edit_mentor_firstname" class="form-label"></label>
                            <input type="text" id="edit_mentor_firstname">
                            <label for="edit_mentor_lastname" class="form-label"></label>
                            <input type="text" id="edit_mentor_lastname">
                            <label for="" class="form-label"></label>
                            <select class="">
                                <!-- Add options for faculties (dropdown) -->
                            </select>
                            <label for="edit_mentor_active" class="form-label"></label>
                            <input type="checkbox" id="edit_mentor_active">
                            <select id="edit_mentor_gender">
                                <option> -Geschlecht wählen- </option>
                                <option value="1">Männlich</option>
                                <option value="2">Weiblich</option>
                                <option value="3">Divers</option>
                            </select>
                            <label for="edit_mentor_homepage" class="form-label"></label>
                            <input type="text" id="edit_mentor_homepage">
                            <label for="edit_mentor_email" class="form-label"></label>
                            <input type="text" id="edit_mentor_email">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal anlegen neuer Mentoren -->
<div id="modal_add_mentor">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mentor anlegen</h5>
                <button type="button" class="btn-close close_modal_add"></button>
            </div>
            <div class="modal-body">
                <form id="add_mentor_form">
                    <label for="mentor_add_title">Titel</label><br>
                    <input type="text" id="mentor_add_title" name="title"><br>
                    <label for="mentor_add_firstname">Vorname</label><br>
                    <input type="text" id="mentor_add_firstname" name="firstname"><br>
                    <label for="mentor_add_lastname">Nachname</label><br>
                    <input type="text" id="mentor_add_lastname" name="lastname"><br>
                    <label for="mentor_fac">Fakultät</label><br>
                    <select id="mentor_fac" name="faculty_ID">

                    </select><br>
                    <select id="mentor_gender" name="gender_ID">
                        <option value="1">Männlich</option>
                        <option value="2">Weiblich</option>
                        <option value="3">Divers</option>
                    </select><br>
                    <label for="mentor_add_homepage">Homepage</label><br>
                    <input type="text" id="mentor_add_homepage" name="homepage"><br>
                    <label for="mentor_add_mail">Email</label><br>
                    <input type="text" id="mentor_add_mail" name="email"><br>
                    <label for="mentor_add_active">An HTW aktiv?</label>
                    <input type="checkbox" id="mentor_add_active" name="active">
                </form>
            </div>
            <div class="modal-footer">
                <button class="cancel">Abbrechen</button>
                <button id="new_mentor">Speichern</button>
            </div>
        </div>
    </div>
</div>
<div id="Page_one" > <!-- class container -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand me-0 ms-3" href="#">
        <img src="htw-logo.png" height="30" width="auto" class="d-inline-block align-top"
            alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/homepage/faculties">Fakultäten</a></li>
            <li class="nav-item active"><a class="nav-link" href="/homepage/institutes">Hochschulen</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/countries">Länder</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/mentor">Mentoren</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/courses">Studiengänge</a></li>
        </ul>
        <ul class="navbar-nav me-2">
        <li class="nav-item m-1">
            <div class="in-navbar" id="handbuch">
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">Handbücher</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">...</a></li>
                        <li><a class="dropdown-item" href="#">...</a></li>
                        <li><a class="dropdown-item" href="#">...</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-item m-1">
            <div class="in-navbar" id="Logout">
                <button class="btn btn-sm btn-outline-danger btn-logout" type="button">Logout</button>
            </div>
        </li>
        </ul>
    </div>
    </nav>
     <div class="my-content">
        <br>
        <!-- Tabelle für die Partnerhochschulen -->
        <div id="tbl"> <!-- container mt-4-->
            <div class="add-mentor">
                <button type="button" class="btn" id="btn_mentor">Mentor hinzufügen</button>
            </div>
            <div class="search_mentor">
                <input id="tbl_search" onkeyup="searchMentor()" type="text" placeholder="Mentor suchen">
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="tbl_mentor_head" id="tbl_mentor_first">Vorname</th>
                        <th class="tbl_mentor_head" id="tbl_mentor_last">Nachname</th>
                        <th>Aktiv</th>
                        <th>Betreute Agreements</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="mnt_body">

                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>