<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentoren</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th class="tbl_column_huge">Vorname</th>
                    <th class="tbl_column_huge">Nachname</th>
                    <th class="tbl_column_small">Aktiv?</th>
                </tr>
            </thead>
            <tbody id="addItems">

            </tbody>
        </table>
    </div>
</body>
</html>