<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hochschulpartnerschaften</title>
    <script src="../ajax.js"></script>
    <script src="../firstDBcall.js"></script>
    <script src="../Modal_edit.js"></script>
    <script src="../addModalEvents.js"></script>
    <script src="../filterChanges.js"></script>
    <script src="../loadInstitutes.js"></script>
    <link href="../style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <!-- Button To Trigger Modal -->
    <div class="d-flex justify-content-center">
        <a class="btn btn-warning" data-bs-toggle="modal" href="#exampleModalToggle">Hochschule Bearbeiten</a>
    </div>
    
    <!-- Toggle Between Modals -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Hochschule Bearbeiten</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="modal_form d-flex" id="form_edit">
                        <div class="col-sm-4 p-3">
                            <h4>Hochschule</h4>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_country">Land</label>
                                <select class="form-select" id="edit_mod_country" class="filter_country"
                                    name="edit_fil_country">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_eng">Englische Bezeichnung</label>
                                <input class="form-control" type="text" id="edit_modal_eng">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_local">Lokale Bezeichnung</label>
                                <input class="form-control" type="text" id="edit_modal_local">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_adr">Adresse</label>
                                <input class="form-control" type="text" id="edit_modal_adr">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_ws">Website</label>
                                <input class="form-control" type="text" id="edit_modal_ws">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_ntzn">Notizen</label>
                                <input class="form-control" type="text" id="edit_modal_ntzn">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_ec">Erasmus-Code</label>
                                <input class="form-control" type="text" id="edit_modal_ec">
                            </div>
                            <div class="mb-3">
                                <input class="form-control-check" class="my_check" type="checkbox" id="edit_modal_anz">
                                <label class="form-label" for="edit_modal_anz">Öffentlich anzeigen?</label>
                            </div>
                        </div>
                        <div class="col-sm-4 p-3">
                            <h4>Ansprechperson</h4>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_func">Funktion</label>
                                <input class="form-control" type="text" id="edit_mod_func">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_gender">Geschlecht</label>
                                <select class="form-select" id="edit_mod_gender">
                                    <option value="1">Männlich</option>
                                    <option value="2">Weiblich</option>
                                    <option value="3">Divers</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_title">Titel</label>
                                <input class="form-control" type="text" id="edit_mod_title">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_vn">Vorname</label>
                                <input class="form-control" type="text" id="edit_mod_vn">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_nn">Nachname</label>
                                <input class="form-control" type="text" id="edit_mod_nn">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_ap_tel">Telefon</label>
                                <input class="form-control" type="text" id="edit_mod_ap_tel">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_ap_mail">Email</label>
                                <input class="form-control" type="text" id="edit_mod_ap_mail">
                            </div>
                        </div>
                        <div class="col-sm-4 p-3">
                            <h4>International Office</h4>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_dep">Abteilung</label>
                                <input class="form-control" type="text" id="edit_mod_dep">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_tel">Telefon</label>
                                <input class="form-control" type="text" id="edit_mod_tel">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_mail">Email</label>
                                <input class="form-control" type="text" id="edit_mod_mail">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_int_off_ws">Website International Office</label>
                                <input class="form-control" type="text" id="edit_mod_int_off_ws">
                            </div>
                            <!-- TODO: add functionality to button -->
                            <button type="button" class="btn btn-secondary">Abbrechen</button>
                            <button type="button" class="btn btn-primary">Speichern</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Partnerschaften bearbeiten</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Partnerschaften Bearbeiten</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Partnerschaften</h4>
                    <div class="container mt-4">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Fakultät</th>
                                    <th>Aktiv</th>
                                    <th>Mentor</th>
                                    <th>Studiengang</th>
                                </tr>
                            </thead>
                            <tbody id="add_mob_ag">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Hochschule bearbeiten</button>
                </div>
            </div>
        </div>
    </div>
    
    </body>
    
    </html>