<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Hochschulpartnerschaften</title>
    <script src="../ajax.js"></script>
    <script src="../firstDBcall.js"></script>
    <script src="../Modal_edit.js"></script>
    <script src="../addModalEvents.js"></script>
    <script src="../filterChanges.js"></script>
    <script src="../loadInstitutes.js"></script>
    <link href="../style.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- Navbar hier einfügen -->

<!-- Modal zum Bearbeiten -->
<div id="modal_edit" class="modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hochschule bearbeiten</h4>
                <button type="button" class="btn-close close_modal_edit"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="leftSide" class="col-4 border-right">
                        <form class="modal_form" id="form_edit">
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_country">Land</label>
                                <select class="form-select" id="edit_mod_country" class="filter_country" name="edit_fil_country">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_eng">Englische Bezeichnung</label>
                                <input class="form-control" type="text" id="edit_modal_eng">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_local">Lokale Bezeichnung</label>
                                <input class="form-control" type="text" id="edit_modal_local">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_adr">Adresse</label>
                                <input class="form-control" type="text" id="edit_modal_adr">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_ws">Website</label>
                                <input class="form-control" type="text" id="edit_modal_ws">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_ntzn">Notizen</label>
                                <input class="form-control" type="text" id="edit_modal_ntzn">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_anz">Öffentlich anzeigen?</label>
                                <input class="form-control-check" class="my_check" type="checkbox" id="edit_modal_anz">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_modal_ec">Erasmus-Code</label>
                                <input class="form-control" type="text" id="edit_modal_ec">
                            </div>
                            <h4>International Office</h4>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_dep">Abteilung</label>
                                <input class="form-control" type="text" id="edit_mod_dep">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_tel">Telefon</label>
                                <input class="form-control" type="text" id="edit_mod_tel">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_mail">Email</label>
                                <input class="form-control" type="text" id="edit_mod_mail">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_int_off_ws">Website International Office</label>
                                <input class="form-control" type="text" id="edit_mod_int_off_ws">
                            </div>
                            <h4>Ansprechperson</h4>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_func">Funktion</label>
                                <input class="form-control" type="text" id="edit_mod_func">
                            <select class="form-select" id="edit_mod_gender">
                                <option value="1">Männlich</option>
                                <option value="2">Weiblich</option>
                                <option value="3">Divers</option>
                            </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_title">Titel</label>
                                <input class="form-control" type="text" id="edit_mod_title">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_vn">Vorname</label>
                                <input class="form-control" type="text" id="edit_mod_vn">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_nn">Nachname</label>
                                <input class="form-control" type="text" id="edit_mod_nn">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_ap_tel">Telefon</label>
                                <input class="form-control" type="text" id="edit_mod_ap_tel">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="edit_mod_ap_mail">Email</label>
                                <input class="form-control" type="text" id="edit_mod_ap_mail">
                            </div>
                        </form>
                    </div>
                    <div id="rightSide" class="col-8">
                        <h4>Partnerschaften bearbeiten</h4>
                        <div class="container mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Fakultät</th>
                                        <th>Aktiv</th>
                                        <th>Mentor</th>
                                        <th>Studiengang</th>
                                    </tr>
                                </thead>
                                <tbody id="add_mob_ag">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_modal_edit">Abbrechen</button>
                <button type="button" class="btn btn-primary">Speichern</button>
            </div>
        </div>
    </div>
</div>
<!-- modal to add institute -->
<div id="modal_add" class="modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Neue Partnerhochschule Anlegen</h5>
                <button type="button" class="btn-close close_modal_add"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm p-3 m-3 pt-1">
                        <form class="modal_form modal_form_add" id="form_left_col">
                            <h2>Hochschule</h2>
                            <div class="mb-3">
                                <label for="add-eng" class="form-label">Englische Bezeichnung</label>
                                <input type="text" id="add-eng" name="eng" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-country_ID" class="form-label">Land</label>
                                <select id="add-country_ID" class="filter_country form-select" name="country_ID"></select>
                            </div>
                            <div class="mb-3">
                                <label for="add-local" class="form-label">Lokale Bezeichnung</label>
                                <input type="text" id="add-local" name="local" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-address" class="form-label">Adresse</label>
                                <input type="text" id="add-address" name="address" class="form-control">
                            </div>
                            <!-- <label for="modal_ws">Website</label>
                            <input type="text" id="modal_ws" name="mod_ws">  -->
                            <div class="mb-3">
                                <label for="add-homepage" class="form-label">Homepage</label>
                                <input type="text" id="add-homepage" name="homepage" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-erasmus_code" class="form-label">Erasmus-Code</label>
                                <input type="text" id="add-erasmus_code" name="erasmus_code" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-note" class="form-label">Notizen</label>
                                <input type="text" id="add-note" name="note" class="form-control">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input my_check" id="add-display">
                                <label class="form-check-label" for="add-display">Öffentlich anzeigen?</label>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm p-3 m-3 pt-1">
                        <form class="modal_form modal_form_add" id="form_mid_col">
                            <h2>Ansprechperson</h2>
                            <div class="mb-3">
                                <label for="add-title" class="form-label">Titel</label>
                                <input type="text" id="add-title" name="title" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-firstname" class="form-label">Vorname</label>
                                <input type="text" id="add-firstname" name="firstname" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-lastname" class="form-label">Nachname</label>
                                <input type="text" id="add-lastname" name="lastname" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-gender_ID" class="form-label">Geschlecht</label>
                                <select id="add-gender_ID" name="gender_ID" class="form-select">
                                    <option value="0">Männlich</option>
                                    <option value="1">Weiblich</option>
                                    <option value="2">Divers</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="add-function" class="form-label">Funktion</label>
                                <input type="text" id="add-function" name="function" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-person_phone" class="form-label">Telefonnummer</label>
                                <input type="text" id="add-person_phone" name="person_phone" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-person_email" class="form-label">Email</label>
                                <input type="text" id="add-person_email" name="person_email" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="col-sm p-3 m-3 pt-1">
                        <form class="modal_form modal_form_add" id="form_right_col">
                            <h2>International Office</h2>
                            <div class="mb-3">
                                <label for="add-department" class="form-label">Abteilung</label>
                                <input type="text" id="add-department" name="department" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-phone" class="form-label">Telefon</label>
                                <input type="text" id="add-phone" name="phone" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-email" class="form-label">Email</label>
                                <input type="text" id="add-email" name="email" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="add-int_office_homepage" class="form-label">Homepage</label>
                                <input type="text" id="add-int_office_homepage" name="int_office_homepage" class="form-control">
                            </div>
                            <h2>Partnerschaft</h2>
                            <div class="mb-3">
                                <label for="add-partnership_type_ID" class="form-label">Vertragstyp</label>
                                <select id="add-partnership_type_ID" class="fil_agree form-select"
                                    name="partnership_type_ID"></select>
                            </div>
                            <button type="button" class="btn btn-secondary">Abbrechen</button>
                            <button type="button" id="mod_add_institute" class="btn btn-primary">Speichern</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Page_one" > <!-- class container -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand me-0 ms-3" href="#">
        <img src="htw-logo.png" height="30" width="auto" class="d-inline-block align-top"
            alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/homepage/faculties">Fakultäten</a></li>
            <li class="nav-item active"><a class="nav-link" href="/homepage/institutes">Hochschulen</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/countries">Länder</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/mentor">Mentoren</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/courses">Studiengänge</a></li>
        </ul>
        <ul class="navbar-nav me-2">
        <li class="nav-item m-1">
            <div class="in-navbar" id="handbuch">
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">Handbücher</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">...</a></li>
                        <li><a class="dropdown-item" href="#">...</a></li>
                        <li><a class="dropdown-item" href="#">...</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-item m-1">
            <div class="in-navbar" id="Logout">
                <button class="btn btn-sm btn-outline-danger" type="button">Logout</button>
            </div>
        </li>
        </ul>
    </div>
    </nav>
    <div class="my-content">
        <div id="fil"> <!-- container mt-4-->
            <div id="FilterAll">        <!-- div for every filter needed -->
                <form id="filter_form" action="">
                    <select id='fc' class="filter filter_country" name="filter_country">
                        <option value="none">-Land-</option>
                    </select>
                    <select id='fil_fac' name="filter_fac" class="filter">
                        <option value="none">-Fakultät-</option>
                    </select>
                    <select id="fil_shown" name="filter_shown" class="filter">
                        <option value="none">-Anzeige extern-</option>
                        <option value="y">Ja</option>
                        <option value="n">Nein</option>
                    </select>
                    <select id="fil_act" name="filter_activity" class="filter">
                        <option value="none">-Aktiv-</option>
                        <option value="y">Ja</option>
                        <option value="n">Nein</option>
                    </select>
                    <select id="fil_agree" name="filter_agreetype" class="filter fil_agree">
                        <option value="none">-Vertragstyp-</option>
                    </select>
                    <select id='sorting' name="sortby" class="filter"> <!-- implement sorting filter -->
                        <option id="desc" value="a">Sortierung absteigend</option>
                        <option id="asc" value="d">Sortierung aufsteigend</option>
                    </select>
                </form>
                <button class="btn" id="fil_reset">Zurücksetzen</button>
            </div>
        </div>
        <br>
        <!-- Tabelle für die Partnerhochschulen -->
        <div id="tbl"> <!-- container mt-4-->
            <div class="add-hs">
                <button type="button" class="btn" id="btn_hs_add">Partnerhochschule anlegen</button>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Hochschule</th>
                        <th>Anzeige</th>
                        <th>Verträge</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody id="addItems">

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>