<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Hochschulpartnerschaften</title>
    <script src="ajax.js"></script>
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="my_modal.css"/>
    <link rel="stylesheet" href="split_modal.css"/>
    <script src="firstDBcall.js"></script>
    <script src="Modal_edit.js"></script>
    <script src="addModalEvents.js"></script>
    <script src="filterChanges.js"></script>
    <script src="loadInstitutes.js"></script>
</head>
<body>

<div id="head_main">

</div>
<!-- Modal HTML embedded directly into document -->
<!-- Modal for edit institute -->
<div id="ex1" class="modal">
    <form class="modal_form" id="form_edit" action="">
        <div id="leftSide">   <!-- Right side of modal box -->
            <label for="edit_mod_country">Land</label>
            <select id="edit_mod_country" class="filter_country" name="edit_fil_country">
            </select><br>
            <label for="edit_modal_eng">Englische Bezeichnung</label>
            <input type="text" id="edit_modal_eng"><br>
            <label for="edit_modal_local">Lokale Bezeichnung</label>
            <input type="text" id="edit_modal_local"><br>
            <label for="edit_modal_adr">Adresse</label>
            <input type="text" id="edit_modal_adr"><br>
            <label for="edit_modal_ws">Website</label>
            <input type="text" id="edit_modal_ws"><br>
            <label for="edit_modal_ntzn">Notizen</label>
            <input type="text" id="edit_modal_ntzn"><br>
            <label for="edit_modal_anz">Öffentlich anzeigen?</label>
            <input class="my_check" type="checkbox" id="edit_modal_anz"><br>
            <label for="edit_modal_ec">Erasmus-Code</label>
            <input type="text" id="edit_modal_ec"><br>
        </div>
        <hr>
        <div id="right_side">
        </div>
        <a href="#ex1" rel="modal:close"><button id="mod_edit">Speichern</button></a>
        <a href="#ex1" rel="modal:close"><button id="quit">Abbrechen</button></a>
    </form>
</div>
<!-- modal to add institute -->
<div id="ex2" class="modal">
    <!-- 3 different div's to structure form -->
    <form class="modal_form" id="form_add" action="">
        <div id="institute_info">
            <!-- main construct for modal to add new institute -->
            <h1>Hochschule anlegen</h1>
            <label for="add-eng">Englische Bezeichnung</label><br>
            <input type="text" id="add-eng" name="eng"><br>
            <label for="add-country_ID">Land</label>
            <br>
            <select id="add-country_ID" class="filter_country" name="country_ID">
            </select><br>
            <label for="add-local">Lokale Bezeichnung</label><br>
            <input type="text" id="add-local" name="local"><br>
            <label for="add-address">Adresse</label><br>
            <input type="text" id="add-address" name="address"><br>
            <!-- <label for="modal_ws">Website</label>
            <input type="text" id="modal_ws" name="mod_ws"><br>  -->
            <label for="add-homepage">Homepage</label><br>
            <input type="text" id="add-homepage" name="homepage"><br>
            <label for="add-erasmus_code">Erasmus-Code</label><br>
            <input type="text" id="add-erasmus_code" name="erasmus_code"><br>
            <label for="add-note">Notizen</label><br>
            <input type="text" id="add-note" name="note"><br>
            <label for="add-display">Öffentlich anzeigen?</label><br>
            <input class="my_check" type="checkbox" id="add-display" name="display"><br>
        </div>
        <div id="ansprechperson">
            <h1>Ansprechperson</h1>
            <label for="add-title">Titel</label><br>
            <input type="text" id="add-title"><br>
            <label for="add-firstname">Vorname</label><br>
            <input type="text" id="add-firstname"><br>
            <label for="add-lastname">Nachname</label><br>
            <input type="text" id="add-lastname"><br>
            <label for="add-gender_ID">Geschlecht</label><br>
            <select id="add-gender_ID">
            <option value="0">Männlich</option>
            <option value="1">Weiblich</option>
            <option value="2">Divers</option>
            </select><br>
            <label for="add-function">Funktion</label><br>
            <input type="text" id="add-function"><br>
            <label for="add-person_phone">Telefonnummer</label><br>
            <input type="text" id="add-person_phone"><br>
            <label for="add-person_email">Email</label><br>
            <input type="text" id="add-person_email"><br>
        </div>
        <div id="right">
            <h1>International Office</h1>
            <label for="add-department">Abteilung</label><br>
            <input type="text" id="add-department"><br>
            <label for="add-phone">Telefon</label><br>
            <input type="text" id="add-phone"><br>
            <label for="add-email">Email</label><br>
            <input type="text" id="add-email"><br>
            <label for="add-int_office_homepage">Homepage</label><br>
            <input type="text" id="add-int_office_homepage"><br>
            <h1>Partnerschaft</h1>
            <label for="add-partnership_type_ID">Vertragstyp</label><br>
            <select id="add-partnership_type_ID" class="fil_agree"></select><br><br>
            <a href="#ex2" rel="modal:close"><button type="submit" id="mod_add_institute" disabled>Speichern</button></a>
            <a href="#ex2" rel="modal:close"><button id="leave_mod">Abbrechen</button></a>
        </div>
        <!-- 2 buttons to close modal, 'Speichern' triggers post request also -->
    </form>
</div>
    <div id="Page_one">
        <div id="FilterAll" class="main">        <!-- div for every filter needed -->
            <form id="filter_form" action="">
                <select id='fc' class="filter filter_country" name="filter_country">
                    <option value="none">-Land-</option>
                </select>
                <select id='fil_fac' name="filter_fac" class="filter">
                    <option value="none">-Fakultät-</option>
                </select>
                <select id="fil_shown" name="filter_shown" class="filter">
                    <option value="none">-Anzeige extern-</option>
                    <option value="y">Ja</option>
                    <option value="n">Nein</option>
                </select>
                <select id="fil_act" name="filter_activity" class="filter">
                    <option value="none">-Aktiv-</option>
                    <option value="y">Ja</option>
                    <option value="n">Nein</option>
                </select>
                <select id="fil_agree" name="filter_agreetype" class="filter fil_agree">
                    <option value="none">-Vertragstyp-</option>
                </select>
                <select id='sorting' name="sortby" class="filter"> <!-- implement sorting filter -->
                    <option id="desc" value="a">Sortierung absteigend</option>
                    <option id="asc" value="d">Sortierung aufsteigend</option>
                </select>
                <br>
                <button id="fil_reset">Zurücksetzen</button>
            </form>
        </div>
    <br>
    <a href="#ex2" rel="modal:open"><button>Add Institute</button></a>
    <table class="main"> <!-- Table for information needed for main page -->
        <thead id="head">
        <tr>
        <th class="tbl_column_huge">Hochschule</th>
        <th class="tbl_column_small">Öffentliche Anzeige</th>
        <th class="tbl_column_small">Verträge</th>
        </tr>
        </thead>
        <tbody id="addItems">   <!-- insert all rows from database when load page for the first time -->
        </tbody>
    </table>
    </div>
</body>
</html>